<H1>Financial Distress Prediction
    
<H4>https://www.kaggle.com/boardgamefreak/financial-distress-prediction-forward-chaining

Загрузка необходимых библиотек

In [1]:
import numpy as np 
import pandas as pd
import os
import itertools
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, roc_auc_score

Загрузка датафрейма

In [2]:
df = pd.read_csv('Financial Distress.csv', index_col=False,
                 dtype={
                     'Company': np.uint16,
                     'Time': np.uint8,
                     'Financial Distress': np.double
                 })

In [3]:
df.head()

,Company,Time,Financial Distress,x1,x2,x3,x4,x5,x6,x7,...,x74,x75,x76,x77,x78,x79,x80,x81,x82,x83
0,1,1,0.010636,1.2810,0.022934,0.87454,1.21640,0.060940,0.188270,0.52510,...,85.437,27.07,26.102,16.000,16.0,0.2,22,0.060390,30,49
1,1,2,-0.455970,1.2700,0.006454,0.82067,1.00490,-0.014080,0.181040,0.62288,...,107.090,31.31,30.194,17.000,16.0,0.4,22,0.010636,31,50
2,1,3,-0.325390,1.0529,-0.059379,0.92242,0.72926,0.020476,0.044865,0.43292,...,120.870,36.07,35.273,17.000,15.0,-0.2,22,-0.455970,32,51
3,1,4,-0.566570,1.1131,-0.015229,0.85888,0.80974,0.076037,0.091033,0.67546,...,54.806,39.80,38.377,17.167,16.0,5.6,22,-0.325390,33,52
4,2,1,1.357300,1.0623,0.107020,0.81460,0.83593,0.199960,0.047800,0.74200,...,85.437,27.07,26.102,16.000,16.0,0.2,29,1.251000,7,27

<H2>Предобработка данных

In [5]:
# Просмотрим данные
print("Number of unique companies:", df.Company.unique().shape[0])  # 422 компаний

Number of unique companies: 422

In [6]:
print("Number of time periods per company:")
print(pd.crosstab(df.Company, df.Time.sum()))  # Некоторые из компаний имеют < 5 временных периода

Number of time periods per company:
col_0    27644
Company
1            4
2           14
3            1
4           14
5           14
6           14
7           11
8           14
9           14
10          14
11           9
12           1
13           2
14           8
15           6
16           5
17           9
18           6
19           3
20          14
21          14
22          14
23          14
24          14
25          14
26          14
27           2
28          14
29          14
30          14
...        ...
393          3
394         14
395         11
396          1
397          5
398          2
399          5
400          3
401          5
402          6
403         13
404          3
405          7
406          2
407          3
408         14
409         13
410         12
411          4
412          3
413          1
414          2
415          7
416          9
417          4
418          2
419          3
420          3
421          6
422          8

[422 rows x 1 columns]

Рассмотрим данные по группам на компанию

In [7]:
grouped_company = df.groupby('Company')

# Возьмем первые 5 групп
group_gen = ((name, group) for name, group in grouped_company)
for name, group in itertools.islice(group_gen, 5):
    # Для каждой группы
    print('-------------------------------------')
    print("Data of Company", name)
    print(group.head(15))

-------------------------------------
Data of Company 1
   Company  Time  Financial Distress      x1        x2       x3       x4  \
0        1     1            0.010636  1.2810  0.022934  0.87454  1.21640
1        1     2           -0.455970  1.2700  0.006454  0.82067  1.00490
2        1     3           -0.325390  1.0529 -0.059379  0.92242  0.72926
3        1     4           -0.566570  1.1131 -0.015229  0.85888  0.80974

         x5        x6       x7  ...      x74    x75     x76     x77   x78  \
0  0.060940  0.188270  0.52510  ...   85.437  27.07  26.102  16.000  16.0
1 -0.014080  0.181040  0.62288  ...  107.090  31.31  30.194  17.000  16.0
2  0.020476  0.044865  0.43292  ...  120.870  36.07  35.273  17.000  15.0
3  0.076037  0.091033  0.67546  ...   54.806  39.80  38.377  17.167  16.0

   x79  x80       x81  x82  x83
0  0.2   22  0.060390   30   49
1  0.4   22  0.010636   31   50
2 -0.2   22 -0.455970   32   51
3  5.6   22 -0.325390   33   52

[4 rows x 86 columns]
-------------------------------------
Data of Company 2
    Company  Time  Financial Distress       x1        x2       x3       x4  \
4         2     1            1.357300  1.06230  0.107020  0.81460  0.83593
5         2     2            0.007188  1.05580  0.081916  0.87949  0.68673
6         2     3            1.200200  0.97059  0.076064  0.90677  0.80980
7         2     4            2.234800  1.05900  0.130200  0.81811  0.87599
8         2     5            1.340500  1.12450  0.147840  0.75871  1.07990
9         2     6            2.047400  1.59980  0.262460  0.54615  1.31270
10        2     7            2.345900  1.57560  0.262100  0.56448  1.15650
11        2     8            2.249900  1.54430  0.240910  0.59073  1.07700
12        2     9            2.282600  1.72170  0.215250  0.55229  0.84101
13        2    10            1.798200  1.72320  0.208630  0.53398  0.78651
14        2    11            2.827700  1.63070  0.186230  0.54772  0.72819
15        2    12            2.941300  2.17230  0.319450  0.44139  0.94698
16        2    13            2.659800  2.09240  0.303480  0.43822  0.99193
17        2    14            2.232000  2.22630  0.325880  0.40651  0.90804

         x5        x6       x7  ...      x74     x75      x76     x77   x78  \
4   0.19996  0.047800  0.74200  ...   85.437   27.07   26.102  16.000  16.0
5   0.14263  0.043102  0.77198  ...  107.090   31.31   30.194  17.000  16.0
6   0.16592 -0.024649  0.73660  ...  120.870   36.07   35.273  17.000  15.0
7   0.23445  0.045576  0.78727  ...   54.806   39.80   38.377  17.167  16.0
8   0.27644  0.089408  0.80356  ...   59.806   44.53   42.822  15.500  14.0
9   0.36948  0.296640  0.85364  ...   66.262   52.74   49.206  15.500  12.0
10  0.34862  0.299840  0.85817  ...   79.951   66.12   59.471  18.000  12.0
11  0.32561  0.301170  1.12100  ...   84.660   73.20   63.880  16.000  12.0
12  0.29350  0.333360  1.28690  ...   93.883   82.30   74.497  16.500  13.0
13  0.29303  0.329800  1.35480  ...  100.000  100.00  100.000  17.125  14.5
14  0.27358  0.320850  1.10110  ...   91.500  130.50  132.400  20.000  14.5
15  0.42740  0.481260  1.39200  ...   87.100  175.90  178.100  20.000  14.5
16  0.42630  0.465320  1.49120  ...   92.900  203.20  204.500  22.000  22.0
17  0.45534  0.493550  1.65280  ...   91.700  227.50  214.500  21.000  20.5

     x79  x80       x81  x82  x83
4    0.2   29  1.251000    7   27
5    0.4   29  1.357300    8   28
6   -0.2   29  0.007188    9   29
7    5.6   29  1.200200   10   30
8    2.1   29  2.234800   11   31
9   -6.4   29  1.340500   12   32
10 -13.4   29  2.047400   13   33
11   1.2   29  2.345900   14   34
12   0.6   29  2.249900   15   35
13  -7.0   29  2.282600   16   36
14 -16.0   29  1.798200   17   37
15 -20.2   29  2.827700   18   38
16   6.4   29  2.941300   19   39
17   8.6   29  2.659800   20   40

[14 rows x 86 columns]
-------------------------------------
Data of Company 3
    Company  Time  Financial Distress      x1        x2      x3       x4  \
18        3     1             -1.6599  0.8744 -0.034676  0.7935  0.60952

          x5        x6       x7  ...     x74    x75     x76   x77   x78  x79  \
18 -0.002632 -0.086847  0.50609  ...  85.437  27.07  26.102  16.0  16.0  0.2

    x80      x81  x82  x83
18   25 -0.30317    8   37

[1 rows x 86 columns]
-------------------------------------
Data of Company 4
    Company  Time  Financial Distress       x1        x2       x3       x4  \
19        4     1            0.022750  0.83537  0.064310  0.61430  0.49359
20        4     2            0.003775  0.93286  0.042339  0.61528  0.49212
21        4     3            0.000183  0.93575  0.051198  0.64823  0.63071
22        4     4            0.222530  0.92927  0.044282  0.65810  0.62542
23        4     5            0.446620  1.08600  0.080419  0.57018  0.66855
24        4     6            1.239400  1.19000  0.122380  0.56630  0.78135
25        4     7            1.774100  1.82670  0.267580  0.35965  1.02970
26        4     8            0.726550  1.72630  0.194110  0.38380  0.86503
27        4     9            0.855900  1.54470  0.194380  0.37819  0.77048
28        4    10            1.416300  2.12970  0.121510  0.33460  0.81157
29        4    11            1.811800  1.51070  0.238170  0.44954  0.87366
30        4    12            0.861880  1.90220  0.217370  0.36024  0.97970
31        4    13            1.096400  2.08670  0.166060  0.31573  0.90574
32        4    14            1.277000  3.10960  0.133630  0.21635  0.70654

          x5        x6       x7  ...      x74     x75      x76     x77   x78  \
19  0.097075 -0.096852  0.18896  ...   85.437   27.07   26.102  16.000  16.0
20  0.087860 -0.039606  0.19090  ...  107.090   31.31   30.194  17.000  16.0
21  0.089359 -0.040794  0.19663  ...  120.870   36.07   35.273  17.000  15.0
22  0.069817 -0.046241  0.19544  ...   54.806   39.80   38.377  17.167  16.0
23  0.112400  0.048281  0.33217  ...   59.806   44.53   42.822  15.500  14.0
24  0.208110  0.105940  0.29836  ...   66.262   52.74   49.206  15.500  12.0
25  0.270860  0.288590  0.45172  ...   79.951   66.12   59.471  18.000  12.0
26  0.250930  0.246900  0.46110  ...   84.660   73.20   63.880  16.000  12.0
27  0.216840  0.200370  0.39513  ...   93.883   82.30   74.497  16.500  13.0
28  0.168040  0.359760  0.63328  ...  100.000  100.00  100.000  17.125  14.5
29  0.323370  0.224240  0.36379  ...   91.500  130.50  132.400  20.000  14.5
30  0.293640  0.320870  0.78257  ...   87.100  175.90  178.100  20.000  14.5
31  0.233810  0.338870  0.86546  ...   92.900  203.20  204.500  22.000  22.0
32  0.173030  0.446080  1.25870  ...   91.700  227.50  214.500  21.000  20.5

     x79  x80       x81  x82  x83
19   0.2   12  0.006922   28   44
20   0.4   12  0.022750   29   45
21  -0.2   12  0.003775   30   46
22   5.6   12  0.000183   31   47
23   2.1   12  0.222530   32   48
24  -6.4   12  0.446620   33   49
25 -13.4   12  1.239400   34   50
26   1.2   12  1.774100   35   51
27   0.6   12  0.726550   36   52
28  -7.0   12  0.855900   37   53
29 -16.0   12  1.416300   38   54
30 -20.2   12  1.811800   39   55
31   6.4   12  0.861880   40   56
32   8.6   12  1.096400   41   57

[14 rows x 86 columns]
-------------------------------------
Data of Company 5
    Company  Time  Financial Distress      x1        x2       x3       x4  \
33        5     1            0.074550  1.2101  0.118390  0.76603  0.72283
34        5     2            0.003823  1.1486  0.151200  0.78187  0.72707
35        5     3            0.195980  1.1069  0.140450  0.80683  0.49922
36        5     4            0.955380  1.0243  0.102780  0.84027  0.45182
37        5     5            1.676400  1.1074  0.067822  0.82447  0.43839
38        5     6            2.534800  1.0481  0.077902  0.81324  0.44515
39        5     7            4.706800  1.0657  0.106900  0.78535  0.50942
40        5     8            6.470600  1.2029  0.163040  0.67168  0.57554
41        5     9            5.205000  1.1537  0.157480  0.68057  0.43943
42        5    10            0.590280  1.2163  0.104660  0.60632  0.28890
43        5    11            0.849510  1.0337  0.068747  0.73285  0.22660
44        5    12            1.137900  1.1030  0.066132  0.70322  0.27541
45        5    13            1.536600  1.1522  0.097304  0.69537  0.35407
46        5    14            1.637800  1.2121  0.084192  0.70161  0.33803

          x5        x6       x7  ...      x74     x75      x76     x77   x78  \
33  0.156880  0.152070  0.32132  ...   85.437   27.07   26.102  16.000  16.0
34  0.191980  0.112080  0.48278  ...  107.090   31.31   30.194  17.000  16.0
35  0.117300  0.081653  0.44606  ...  120.870   36.07   35.273  17.000  15.0
36  0.073896  0.019752  0.45144  ...   54.806   39.80   38.377  17.167  16.0
37  0.001290  0.086120  0.63442  ...   59.806   44.53   42.822  15.500  14.0
38  0.029445  0.038559  0.59741  ...   66.262   52.74   49.206  15.500  12.0
39  0.067353  0.050888  0.57583  ...   79.951   66.12   59.471  18.000  12.0
40  0.178890  0.134300  0.74038  ...   84.660   73.20   63.880  16.000  12.0
41  0.185750  0.102930  0.81858  ...   93.883   82.30   74.497  16.500  13.0
42  0.129450  0.128320  0.94610  ...  100.000  100.00  100.000  17.125  14.5
43  0.067196  0.024302  0.76009  ...   91.500  130.50  132.400  20.000  14.5
44  0.074888  0.070884  0.75734  ...   87.100  175.90  178.100  20.000  14.5
45  0.116790  0.103040  0.82961  ...   92.900  203.20  204.500  22.000  22.0
46  0.130500  0.144520  0.93530  ...   91.700  227.50  214.500  21.000  20.5

     x79  x80       x81  x82  x83
33   0.2   23  0.965240   12   37
34   0.4   23  0.074550   13   38
35  -0.2   23  0.003823   14   39
36   5.6   23  0.195980   15   40
37   2.1   23  0.955380   16   41
38  -6.4   23  1.676400   17   42
39 -13.4   23  2.534800   18   43
40   1.2   23  4.706800   19   44
41   0.6   23  6.470600   20   45
42  -7.0   23  5.205000   21   46
43 -16.0   23  0.590280   22   47
44 -20.2   23  0.849510   23   48
45   6.4   23  1.137900   24   49
46   8.6   23  1.536600   25   50

[14 rows x 86 columns]

<H3>Проблемы с простым разделением временных рядов::

Как можно увидеть на основе приведенного выше вывода кода, хотя у нас есть 1 общая временная переменная (Time), поскольку у нас несколько компаний, у нас может быть несколько строк, принадлежащих одному и тому же значению Time (например, 1 строка для Time 1 + Company 1 , другая строка для Time 1 + Company 2 и т. д.).

**Из этого возникают опредеденные ограничения, в частности:**
Это не позволяет нам использовать sklearn.model_selection.TimeSeriesSplit, поскольку эта функция предполагает, 
что каждая строка представляет точку данных из уникального момента времени
(и строки расположены в соответствии с возрастающим значением времени).


Мы все еще можем достичь нашей цели другим путем:
1) Разделить набор данных на несколько групп - по 1 группе на компанию. 

2) Для каждой группы вывести индексы для прямой цепочки.

3) Объединить список индексов для каждой группы в один окончательный список индексов

<H3>Работа с фиктивными данными

Как упоминалось в Словаре данных, одна из функций на самом деле является категориальной. 
Поэтому создадим фиктивные столбцы:

In [9]:
dummy_cols = pd.get_dummies(df[['x80']], prefix='dummy', columns=['x80'], drop_first=True)

print(dummy_cols.head())

   dummy_2  dummy_3  dummy_4  dummy_5  dummy_6  dummy_7  dummy_8  dummy_9  \
0        0        0        0        0        0        0        0        0
1        0        0        0        0        0        0        0        0
2        0        0        0        0        0        0        0        0
3        0        0        0        0        0        0        0        0
4        0        0        0        0        0        0        0        0

   dummy_10  dummy_11  ...  dummy_28  dummy_29  dummy_30  dummy_31  dummy_32  \
0         0         0  ...         0         0         0         0         0
1         0         0  ...         0         0         0         0         0
2         0         0  ...         0         0         0         0         0
3         0         0  ...         0         0         0         0         0
4         0         0  ...         0         1         0         0         0

   dummy_33  dummy_34  dummy_35  dummy_36  dummy_37
0         0         0         0         0         0
1         0         0         0         0         0
2         0         0         0         0         0
3         0         0         0         0         0
4         0         0         0         0         0

[5 rows x 36 columns]

In [10]:
x_cols = [col for col in df.columns if all([col.startswith('x'), col != 'x80'])]
df_transformed = pd.concat([df[['Company', 'Time', 'Financial Distress'] + x_cols].reset_index(drop=True),
                            pd.DataFrame(data=dummy_cols)], axis=1)

df_transformed.head()

,Company,Time,Financial Distress,x1,x2,x3,x4,x5,x6,x7,...,dummy_28,dummy_29,dummy_30,dummy_31,dummy_32,dummy_33,dummy_34,dummy_35,dummy_36,dummy_37
0,1,1,0.010636,1.2810,0.022934,0.87454,1.21640,0.060940,0.188270,0.52510,...,0,0,0,0,0,0,0,0,0,0
1,1,2,-0.455970,1.2700,0.006454,0.82067,1.00490,-0.014080,0.181040,0.62288,...,0,0,0,0,0,0,0,0,0,0
2,1,3,-0.325390,1.0529,-0.059379,0.92242,0.72926,0.020476,0.044865,0.43292,...,0,0,0,0,0,0,0,0,0,0
3,1,4,-0.566570,1.1131,-0.015229,0.85888,0.80974,0.076037,0.091033,0.67546,...,0,0,0,0,0,0,0,0,0,0
4,2,1,1.357300,1.0623,0.107020,0.81460,0.83593,0.199960,0.047800,0.74200,...,0,1,0,0,0,0,0,0,0,0

Покончив с описанным выше этапом предварительной обработки, мы перейдем ко второй части проектирования функций - созданию отстающих функций (опять же, отстающих функций для каждой группы):

In [11]:
def lagged_features(df_long, lag_features, window=2, lag_prefix='lag', lag_prefix_sep='_'):

    if not isinstance(lag_features, list):
        lag_features = [lag_features]

    if window <= 0:
        return df_long

    df_working = df_long[lag_features].copy()
    df_result = df_long.copy()
    for i in range(1, window+1):
        df_temp = df_working.shift(i)
        df_temp.columns = [lag_prefix + lag_prefix_sep + str(i) + lag_prefix_sep + x
                           for x in df_temp.columns]
        df_result = pd.concat([df_result.reset_index(drop=True),
                               df_temp.reset_index(drop=True)],
                               axis=1)

    return df_result


grouped_company = df_transformed.groupby('Company')
cols_to_lag = [col for col in df_transformed.columns if col.startswith('x')]
df_cross = pd.DataFrame()

for name, group in grouped_company:
    print('Working on group:', name, 'with shape', group.shape)
    df_cross = pd.concat([df_cross.reset_index(drop=True),
                          lagged_features(group, cols_to_lag).reset_index(drop=True)],
                         axis=0)
    print('Shape of df_cross', df_cross.shape)
    
df_cross = df_cross.dropna()
df_cross.head()

Working on group: 1 with shape (4, 121)
Shape of df_cross (4, 285)
Working on group: 2 with shape (14, 121)
Shape of df_cross (18, 285)
Working on group: 3 with shape (1, 121)
Shape of df_cross (19, 285)
Working on group: 4 with shape (14, 121)
Shape of df_cross (33, 285)
Working on group: 5 with shape (14, 121)
Shape of df_cross (47, 285)
Working on group: 6 with shape (14, 121)
Shape of df_cross (61, 285)
Working on group: 7 with shape (11, 121)
Shape of df_cross (72, 285)
Working on group: 8 with shape (14, 121)
Shape of df_cross (86, 285)
Working on group: 9 with shape (14, 121)
Shape of df_cross (100, 285)
Working on group: 10 with shape (14, 121)
Shape of df_cross (114, 285)
Working on group: 11 with shape (9, 121)
Shape of df_cross (123, 285)
Working on group: 12 with shape (1, 121)
Shape of df_cross (124, 285)
Working on group: 13 with shape (2, 121)
Shape of df_cross (126, 285)
Working on group: 14 with shape (8, 121)
Shape of df_cross (134, 285)
Working on group: 15 with shape (6, 121)
Shape of df_cross (140, 285)
Working on group: 16 with shape (5, 121)
Shape of df_cross (145, 285)
Working on group: 17 with shape (9, 121)
Shape of df_cross (154, 285)
Working on group: 18 with shape (6, 121)
Shape of df_cross (160, 285)
Working on group: 19 with shape (3, 121)
Shape of df_cross (163, 285)
Working on group: 20 with shape (14, 121)
Shape of df_cross (177, 285)
Working on group: 21 with shape (14, 121)
Shape of df_cross (191, 285)
Working on group: 22 with shape (14, 121)
Shape of df_cross (205, 285)
Working on group: 23 with shape (14, 121)
Shape of df_cross (219, 285)
Working on group: 24 with shape (14, 121)
Shape of df_cross (233, 285)
Working on group: 25 with shape (14, 121)
Shape of df_cross (247, 285)
Working on group: 26 with shape (14, 121)
Shape of df_cross (261, 285)
Working on group: 27 with shape (2, 121)
Shape of df_cross (263, 285)
Working on group: 28 with shape (14, 121)
Shape of df_cross (277, 285)
Working on group: 29 with shape (14, 121)
Shape of df_cross (291, 285)
Working on group: 30 with shape (14, 121)
Shape of df_cross (305, 285)
Working on group: 31 with shape (14, 121)
Shape of df_cross (319, 285)
Working on group: 32 with shape (13, 121)
Shape of df_cross (332, 285)
Working on group: 33 with shape (14, 121)
Shape of df_cross (346, 285)
Working on group: 34 with shape (14, 121)
Shape of df_cross (360, 285)
Working on group: 35 with shape (9, 121)
Shape of df_cross (369, 285)
Working on group: 36 with shape (9, 121)
Shape of df_cross (378, 285)
Working on group: 37 with shape (10, 121)
Shape of df_cross (388, 285)
Working on group: 38 with shape (14, 121)
Shape of df_cross (402, 285)
Working on group: 39 with shape (14, 121)
Shape of df_cross (416, 285)
Working on group: 40 with shape (14, 121)
Shape of df_cross (430, 285)
Working on group: 41 with shape (9, 121)
Shape of df_cross (439, 285)
Working on group: 42 with shape (1, 121)
Shape of df_cross (440, 285)
Working on group: 43 with shape (14, 121)
Shape of df_cross (454, 285)
Working on group: 44 with shape (9, 121)
Shape of df_cross (463, 285)
Working on group: 45 with shape (14, 121)
Shape of df_cross (477, 285)
Working on group: 46 with shape (13, 121)
Shape of df_cross (490, 285)
Working on group: 47 with shape (14, 121)
Shape of df_cross (504, 285)
Working on group: 48 with shape (14, 121)
Shape of df_cross (518, 285)
Working on group: 49 with shape (14, 121)
Shape of df_cross (532, 285)
Working on group: 50 with shape (14, 121)
Shape of df_cross (546, 285)
Working on group: 51 with shape (14, 121)
Shape of df_cross (560, 285)
Working on group: 52 with shape (14, 121)
Shape of df_cross (574, 285)
Working on group: 53 with shape (14, 121)
Shape of df_cross (588, 285)
Working on group: 54 with shape (14, 121)
Shape of df_cross (602, 285)
Working on group: 55 with shape (14, 121)
Shape of df_cross (616, 285)
Working on group: 56 with shape (14, 121)
Shape of df_cross (630, 285)
Working on group: 57 with shape (14, 121)
Shape of df_cross (644, 285)
Working on group: 58 with shape (14, 121)
Shape of df_cross (658, 285)
Working on group: 59 with shape (14, 121)
Shape of df_cross (672, 285)
Working on group: 60 with shape (14, 121)
Shape of df_cross (686, 285)
Working on group: 61 with shape (14, 121)
Shape of df_cross (700, 285)
Working on group: 62 with shape (14, 121)
Shape of df_cross (714, 285)
Working on group: 63 with shape (2, 121)
Shape of df_cross (716, 285)
Working on group: 64 with shape (14, 121)
Shape of df_cross (730, 285)
Working on group: 65 with shape (14, 121)
Shape of df_cross (744, 285)
Working on group: 66 with shape (14, 121)
Shape of df_cross (758, 285)
Working on group: 67 with shape (11, 121)
Shape of df_cross (769, 285)
Working on group: 68 with shape (12, 121)
Shape of df_cross (781, 285)
Working on group: 69 with shape (8, 121)
Shape of df_cross (789, 285)
Working on group: 70 with shape (14, 121)
Shape of df_cross (803, 285)
Working on group: 71 with shape (1, 121)
Shape of df_cross (804, 285)
Working on group: 72 with shape (14, 121)
Shape of df_cross (818, 285)
Working on group: 73 with shape (14, 121)
Shape of df_cross (832, 285)
Working on group: 74 with shape (14, 121)
Shape of df_cross (846, 285)
Working on group: 75 with shape (14, 121)
Shape of df_cross (860, 285)
Working on group: 76 with shape (14, 121)
Shape of df_cross (874, 285)
Working on group: 77 with shape (14, 121)
Shape of df_cross (888, 285)
Working on group: 78 with shape (14, 121)
Shape of df_cross (902, 285)
Working on group: 79 with shape (14, 121)
Shape of df_cross (916, 285)
Working on group: 80 with shape (14, 121)
Shape of df_cross (930, 285)
Working on group: 81 with shape (13, 121)
Shape of df_cross (943, 285)
Working on group: 82 with shape (3, 121)
Shape of df_cross (946, 285)
Working on group: 83 with shape (8, 121)
Shape of df_cross (954, 285)
Working on group: 84 with shape (14, 121)
Shape of df_cross (968, 285)
Working on group: 85 with shape (14, 121)
Shape of df_cross (982, 285)
Working on group: 86 with shape (14, 121)
Shape of df_cross (996, 285)
Working on group: 87 with shape (8, 121)
Shape of df_cross (1004, 285)
Working on group: 88 with shape (2, 121)
Shape of df_cross (1006, 285)
Working on group: 89 with shape (1, 121)
Shape of df_cross (1007, 285)
Working on group: 90 with shape (14, 121)
Shape of df_cross (1021, 285)
Working on group: 91 with shape (6, 121)
Shape of df_cross (1027, 285)
Working on group: 92 with shape (14, 121)
Shape of df_cross (1041, 285)
Working on group: 93 with shape (1, 121)
Shape of df_cross (1042, 285)
Working on group: 94 with shape (14, 121)
Shape of df_cross (1056, 285)
Working on group: 95 with shape (14, 121)
Shape of df_cross (1070, 285)
Working on group: 96 with shape (14, 121)
Shape of df_cross (1084, 285)
Working on group: 97 with shape (14, 121)
Shape of df_cross (1098, 285)
Working on group: 98 with shape (14, 121)
Shape of df_cross (1112, 285)
Working on group: 99 with shape (10, 121)
Shape of df_cross (1122, 285)
Working on group: 100 with shape (14, 121)
Shape of df_cross (1136, 285)
Working on group: 101 with shape (14, 121)
Shape of df_cross (1150, 285)
Working on group: 102 with shape (14, 121)
Shape of df_cross (1164, 285)
Working on group: 103 with shape (1, 121)
Shape of df_cross (1165, 285)
Working on group: 104 with shape (7, 121)
Shape of df_cross (1172, 285)
Working on group: 105 with shape (3, 121)
Shape of df_cross (1175, 285)
Working on group: 106 with shape (3, 121)
Shape of df_cross (1178, 285)
Working on group: 107 with shape (14, 121)
Shape of df_cross (1192, 285)
Working on group: 108 with shape (11, 121)
Shape of df_cross (1203, 285)
Working on group: 109 with shape (14, 121)
Shape of df_cross (1217, 285)
Working on group: 110 with shape (14, 121)
Shape of df_cross (1231, 285)
Working on group: 111 with shape (6, 121)
Shape of df_cross (1237, 285)
Working on group: 112 with shape (14, 121)
Shape of df_cross (1251, 285)
Working on group: 113 with shape (2, 121)
Shape of df_cross (1253, 285)
Working on group: 114 with shape (14, 121)
Shape of df_cross (1267, 285)
Working on group: 115 with shape (12, 121)
Shape of df_cross (1279, 285)
Working on group: 116 with shape (14, 121)
Shape of df_cross (1293, 285)
Working on group: 117 with shape (14, 121)
Shape of df_cross (1307, 285)
Working on group: 118 with shape (13, 121)
Shape of df_cross (1320, 285)
Working on group: 119 with shape (7, 121)
Shape of df_cross (1327, 285)
Working on group: 120 with shape (7, 121)
Shape of df_cross (1334, 285)
Working on group: 121 with shape (13, 121)
Shape of df_cross (1347, 285)
Working on group: 122 with shape (7, 121)
Shape of df_cross (1354, 285)
Working on group: 123 with shape (6, 121)
Shape of df_cross (1360, 285)
Working on group: 124 with shape (13, 121)
Shape of df_cross (1373, 285)
Working on group: 125 with shape (14, 121)
Shape of df_cross (1387, 285)
Working on group: 126 with shape (14, 121)
Shape of df_cross (1401, 285)
Working on group: 127 with shape (14, 121)
Shape of df_cross (1415, 285)
Working on group: 128 with shape (14, 121)
Shape of df_cross (1429, 285)
Working on group: 129 with shape (14, 121)
Shape of df_cross (1443, 285)
Working on group: 130 with shape (2, 121)
Shape of df_cross (1445, 285)
Working on group: 131 with shape (14, 121)
Shape of df_cross (1459, 285)
Working on group: 132 with shape (4, 121)
Shape of df_cross (1463, 285)
Working on group: 133 with shape (10, 121)
Shape of df_cross (1473, 285)
Working on group: 134 with shape (2, 121)
Shape of df_cross (1475, 285)
Working on group: 135 with shape (14, 121)
Shape of df_cross (1489, 285)
Working on group: 136 with shape (3, 121)
Shape of df_cross (1492, 285)
Working on group: 137 with shape (14, 121)
Shape of df_cross (1506, 285)
Working on group: 138 with shape (14, 121)
Shape of df_cross (1520, 285)
Working on group: 139 with shape (14, 121)
Shape of df_cross (1534, 285)
Working on group: 140 with shape (8, 121)
Shape of df_cross (1542, 285)
Working on group: 141 with shape (14, 121)
Shape of df_cross (1556, 285)
Working on group: 142 with shape (14, 121)
Shape of df_cross (1570, 285)
Working on group: 143 with shape (14, 121)
Shape of df_cross (1584, 285)
Working on group: 144 with shape (5, 121)
Shape of df_cross (1589, 285)
Working on group: 145 with shape (14, 121)
Shape of df_cross (1603, 285)
Working on group: 146 with shape (14, 121)
Shape of df_cross (1617, 285)
Working on group: 147 with shape (14, 121)
Shape of df_cross (1631, 285)
Working on group: 148 with shape (11, 121)
Shape of df_cross (1642, 285)
Working on group: 149 with shape (14, 121)
Shape of df_cross (1656, 285)
Working on group: 150 with shape (14, 121)
Shape of df_cross (1670, 285)
Working on group: 151 with shape (14, 121)
Shape of df_cross (1684, 285)
Working on group: 152 with shape (14, 121)
Shape of df_cross (1698, 285)
Working on group: 153 with shape (14, 121)
Shape of df_cross (1712, 285)
Working on group: 154 with shape (13, 121)
Shape of df_cross (1725, 285)
Working on group: 155 with shape (8, 121)
Shape of df_cross (1733, 285)
Working on group: 156 with shape (14, 121)
Shape of df_cross (1747, 285)
Working on group: 157 with shape (13, 121)
Shape of df_cross (1760, 285)
Working on group: 158 with shape (1, 121)
Shape of df_cross (1761, 285)
Working on group: 159 with shape (12, 121)
Shape of df_cross (1773, 285)
Working on group: 160 with shape (6, 121)
Shape of df_cross (1779, 285)
Working on group: 161 with shape (8, 121)
Shape of df_cross (1787, 285)
Working on group: 162 with shape (1, 121)
Shape of df_cross (1788, 285)
Working on group: 163 with shape (13, 121)
Shape of df_cross (1801, 285)
Working on group: 164 with shape (3, 121)
Shape of df_cross (1804, 285)
Working on group: 165 with shape (4, 121)
Shape of df_cross (1808, 285)
Working on group: 166 with shape (14, 121)
Shape of df_cross (1822, 285)
Working on group: 167 with shape (10, 121)
Shape of df_cross (1832, 285)
Working on group: 168 with shape (14, 121)
Shape of df_cross (1846, 285)
Working on group: 169 with shape (14, 121)
Shape of df_cross (1860, 285)
Working on group: 170 with shape (9, 121)
Shape of df_cross (1869, 285)
Working on group: 171 with shape (14, 121)
Shape of df_cross (1883, 285)
Working on group: 172 with shape (8, 121)
Shape of df_cross (1891, 285)
Working on group: 173 with shape (4, 121)
Shape of df_cross (1895, 285)
Working on group: 174 with shape (6, 121)
Shape of df_cross (1901, 285)
Working on group: 175 with shape (5, 121)
Shape of df_cross (1906, 285)
Working on group: 176 with shape (11, 121)
Shape of df_cross (1917, 285)
Working on group: 177 with shape (9, 121)
Shape of df_cross (1926, 285)
Working on group: 178 with shape (5, 121)
Shape of df_cross (1931, 285)
Working on group: 179 with shape (13, 121)
Shape of df_cross (1944, 285)
Working on group: 180 with shape (5, 121)
Shape of df_cross (1949, 285)
Working on group: 181 with shape (11, 121)
Shape of df_cross (1960, 285)
Working on group: 182 with shape (10, 121)
Shape of df_cross (1970, 285)
Working on group: 183 with shape (4, 121)
Shape of df_cross (1974, 285)
Working on group: 184 with shape (6, 121)
Shape of df_cross (1980, 285)
Working on group: 185 with shape (12, 121)
Shape of df_cross (1992, 285)
Working on group: 186 with shape (4, 121)
Shape of df_cross (1996, 285)
Working on group: 187 with shape (5, 121)
Shape of df_cross (2001, 285)
Working on group: 188 with shape (6, 121)
Shape of df_cross (2007, 285)
Working on group: 189 with shape (12, 121)
Shape of df_cross (2019, 285)
Working on group: 190 with shape (13, 121)
Shape of df_cross (2032, 285)
Working on group: 191 with shape (7, 121)
Shape of df_cross (2039, 285)
Working on group: 192 with shape (13, 121)
Shape of df_cross (2052, 285)
Working on group: 193 with shape (14, 121)
Shape of df_cross (2066, 285)
Working on group: 194 with shape (2, 121)
Shape of df_cross (2068, 285)
Working on group: 195 with shape (14, 121)
Shape of df_cross (2082, 285)
Working on group: 196 with shape (14, 121)
Shape of df_cross (2096, 285)
Working on group: 197 with shape (13, 121)
Shape of df_cross (2109, 285)
Working on group: 198 with shape (1, 121)
Shape of df_cross (2110, 285)
Working on group: 199 with shape (13, 121)
Shape of df_cross (2123, 285)
Working on group: 200 with shape (1, 121)
Shape of df_cross (2124, 285)
Working on group: 201 with shape (12, 121)
Shape of df_cross (2136, 285)
Working on group: 202 with shape (12, 121)
Shape of df_cross (2148, 285)
Working on group: 203 with shape (10, 121)
Shape of df_cross (2158, 285)
Working on group: 204 with shape (6, 121)
Shape of df_cross (2164, 285)
Working on group: 205 with shape (3, 121)
Shape of df_cross (2167, 285)
Working on group: 206 with shape (12, 121)
Shape of df_cross (2179, 285)
Working on group: 207 with shape (5, 121)
Shape of df_cross (2184, 285)
Working on group: 208 with shape (5, 121)
Shape of df_cross (2189, 285)
Working on group: 209 with shape (13, 121)
Shape of df_cross (2202, 285)
Working on group: 210 with shape (13, 121)
Shape of df_cross (2215, 285)
Working on group: 211 with shape (13, 121)
Shape of df_cross (2228, 285)
Working on group: 212 with shape (13, 121)
Shape of df_cross (2241, 285)
Working on group: 213 with shape (13, 121)
Shape of df_cross (2254, 285)
Working on group: 214 with shape (14, 121)
Shape of df_cross (2268, 285)
Working on group: 215 with shape (12, 121)
Shape of df_cross (2280, 285)
Working on group: 216 with shape (9, 121)
Shape of df_cross (2289, 285)
Working on group: 217 with shape (14, 121)
Shape of df_cross (2303, 285)
Working on group: 218 with shape (14, 121)
Shape of df_cross (2317, 285)
Working on group: 219 with shape (9, 121)
Shape of df_cross (2326, 285)
Working on group: 220 with shape (14, 121)
Shape of df_cross (2340, 285)
Working on group: 221 with shape (14, 121)
Shape of df_cross (2354, 285)
Working on group: 222 with shape (12, 121)
Shape of df_cross (2366, 285)
Working on group: 223 with shape (7, 121)
Shape of df_cross (2373, 285)
Working on group: 224 with shape (12, 121)
Shape of df_cross (2385, 285)
Working on group: 225 with shape (8, 121)
Shape of df_cross (2393, 285)
Working on group: 226 with shape (12, 121)
Shape of df_cross (2405, 285)
Working on group: 227 with shape (13, 121)
Shape of df_cross (2418, 285)
Working on group: 228 with shape (12, 121)
Shape of df_cross (2430, 285)
Working on group: 229 with shape (2, 121)
Shape of df_cross (2432, 285)
Working on group: 230 with shape (11, 121)
Shape of df_cross (2443, 285)
Working on group: 231 with shape (14, 121)
Shape of df_cross (2457, 285)
Working on group: 232 with shape (5, 121)
Shape of df_cross (2462, 285)
Working on group: 233 with shape (14, 121)
Shape of df_cross (2476, 285)
Working on group: 234 with shape (4, 121)
Shape of df_cross (2480, 285)
Working on group: 235 with shape (2, 121)
Shape of df_cross (2482, 285)
Working on group: 236 with shape (14, 121)
Shape of df_cross (2496, 285)
Working on group: 237 with shape (6, 121)
Shape of df_cross (2502, 285)
Working on group: 238 with shape (4, 121)
Shape of df_cross (2506, 285)
Working on group: 239 with shape (8, 121)
Shape of df_cross (2514, 285)
Working on group: 240 with shape (13, 121)
Shape of df_cross (2527, 285)
Working on group: 241 with shape (4, 121)
Shape of df_cross (2531, 285)
Working on group: 242 with shape (12, 121)
Shape of df_cross (2543, 285)
Working on group: 243 with shape (6, 121)
Shape of df_cross (2549, 285)
Working on group: 244 with shape (6, 121)
Shape of df_cross (2555, 285)
Working on group: 245 with shape (9, 121)
Shape of df_cross (2564, 285)
Working on group: 246 with shape (9, 121)
Shape of df_cross (2573, 285)
Working on group: 247 with shape (6, 121)
Shape of df_cross (2579, 285)
Working on group: 248 with shape (10, 121)
Shape of df_cross (2589, 285)
Working on group: 249 with shape (14, 121)
Shape of df_cross (2603, 285)
Working on group: 250 with shape (7, 121)
Shape of df_cross (2610, 285)
Working on group: 251 with shape (14, 121)
Shape of df_cross (2624, 285)
Working on group: 252 with shape (2, 121)
Shape of df_cross (2626, 285)
Working on group: 253 with shape (7, 121)
Shape of df_cross (2633, 285)
Working on group: 254 with shape (14, 121)
Shape of df_cross (2647, 285)
Working on group: 255 with shape (3, 121)
Shape of df_cross (2650, 285)
Working on group: 256 with shape (14, 121)
Shape of df_cross (2664, 285)
Working on group: 257 with shape (7, 121)
Shape of df_cross (2671, 285)
Working on group: 258 with shape (14, 121)
Shape of df_cross (2685, 285)
Working on group: 259 with shape (12, 121)
Shape of df_cross (2697, 285)
Working on group: 260 with shape (14, 121)
Shape of df_cross (2711, 285)
Working on group: 261 with shape (12, 121)
Shape of df_cross (2723, 285)
Working on group: 262 with shape (14, 121)
Shape of df_cross (2737, 285)
Working on group: 263 with shape (6, 121)
Shape of df_cross (2743, 285)
Working on group: 264 with shape (11, 121)
Shape of df_cross (2754, 285)
Working on group: 265 with shape (10, 121)
Shape of df_cross (2764, 285)
Working on group: 266 with shape (10, 121)
Shape of df_cross (2774, 285)
Working on group: 267 with shape (13, 121)
Shape of df_cross (2787, 285)
Working on group: 268 with shape (12, 121)
Shape of df_cross (2799, 285)
Working on group: 269 with shape (3, 121)
Shape of df_cross (2802, 285)
Working on group: 270 with shape (13, 121)
Shape of df_cross (2815, 285)
Working on group: 271 with shape (13, 121)
Shape of df_cross (2828, 285)
Working on group: 272 with shape (7, 121)
Shape of df_cross (2835, 285)
Working on group: 273 with shape (2, 121)
Shape of df_cross (2837, 285)
Working on group: 274 with shape (2, 121)
Shape of df_cross (2839, 285)
Working on group: 275 with shape (1, 121)
Shape of df_cross (2840, 285)
Working on group: 276 with shape (12, 121)
Shape of df_cross (2852, 285)
Working on group: 277 with shape (9, 121)
Shape of df_cross (2861, 285)
Working on group: 278 with shape (3, 121)
Shape of df_cross (2864, 285)

,Company,Time,Financial Distress,x1,x2,x3,x4,x5,x6,x7,...,lag_2_x73,lag_2_x74,lag_2_x75,lag_2_x76,lag_2_x77,lag_2_x78,lag_2_x79,lag_2_x81,lag_2_x82,lag_2_x83
2,1,3,-0.32539,1.05290,-0.059379,0.92242,0.72926,0.020476,0.044865,0.43292,...,36.0,85.437,27.07,26.102,16.0,16.0,0.2,0.060390,30.0,49.0
3,1,4,-0.56657,1.11310,-0.015229,0.85888,0.80974,0.076037,0.091033,0.67546,...,36.0,107.090,31.31,30.194,17.0,16.0,0.4,0.010636,31.0,50.0
6,2,3,1.20020,0.97059,0.076064,0.90677,0.80980,0.165920,-0.024649,0.73660,...,36.0,85.437,27.07,26.102,16.0,16.0,0.2,1.251000,7.0,27.0
7,2,4,2.23480,1.05900,0.130200,0.81811,0.87599,0.234450,0.045576,0.78727,...,36.0,107.090,31.31,30.194,17.0,16.0,0.4,1.357300,8.0,28.0
8,2,5,1.34050,1.12450,0.147840,0.75871,1.07990,0.276440,0.089408,0.80356,...,35.0,120.870,36.07,35.273,17.0,15.0,-0.2,0.007188,9.0,29.0

<H5>Разделение временных рядов на группу

Затем мы напишем вспомогательную функцию для создания разделений временных рядов для прямой цепочки. Функция вернет список кортежей. Каждый кортеж будет содержать 2 значения - индекс поезда и индекс теста.

In [12]:
# Create Time-Series sampling function to draw train-test splits
def ts_sample(df_input, train_rows, test_rows):
    if df_input.shape[0] <= train_rows:
        return [(df_input.index, pd.Index([]))]

    i = 0
    train_lower, train_upper = 0, train_rows + test_rows*i
    test_lower, test_upper = train_upper, min(train_upper + test_rows, df_input.shape[0])

    result_list = []
    while train_upper < df_input.shape[0]:
        # Get indexes into result_list
        result_list += [(df_input.index[train_lower:train_upper],
                         df_input.index[test_lower:test_upper])]

        # Update counter and calculate new indexes
        i += 1
        train_upper = train_rows + test_rows*i
        test_lower, test_upper = train_upper, min(train_upper + test_rows, df_input.shape[0])

    return result_list

Следующим шагом является использование ts_sample для каждой группы данных. Это приведет к созданию 1 списка индексных кортежей для каждой группы.

Более того, поскольку количество периодов времени в группе не одинаково, размер этих периодов также будет варьироваться. Следовательно, нам понадобится способ дополнить более короткие группы.

In [14]:
grouped_company_cross = df_cross.groupby('Company')
acc = []
max_size = 0
for name, group in grouped_company_cross:
    group_res = ts_sample(group, 4, 4)
    acc += [group_res]

    if len(group_res) > max_size:
        max_size = len(group_res)

        for idx, list_i in enumerate(acc):
            if len(list_i) < max_size:
                last_train, last_test = list_i[-1][0], list_i[-1][1]
                list_i[len(list_i):max_size] = [(last_train.union(last_test),
                                                 pd.Index([]))] * (max_size - len(list_i))

                acc[idx] = list_i

    elif len(group_res) < max_size:
        last_train, last_test = acc[-1][-1][0], acc[-1][-1][1]
        acc[-1] = acc[-1] + [(last_train.union(last_test), pd.Index([]))] * (max_size - len(acc[-1]))


print(acc[0:2])

[[(Int64Index([2, 3], dtype='int64'), Index([], dtype='object')), (Int64Index([2, 3], dtype='int64'), Index([], dtype='object'))], [(Int64Index([6, 7, 8, 9], dtype='int64'), Int64Index([10, 11, 12, 13], dtype='int64')), (Int64Index([6, 7, 8, 9, 10, 11, 12, 13], dtype='int64'), Int64Index([14, 15, 16, 17], dtype='int64'))]]

In [15]:
flat_acc = []
for idx, list_i in enumerate(acc):
    if len(flat_acc) == 0:
        flat_acc += list_i
        continue

    for inner_idx, tuple_i in enumerate(list_i):
        flat_acc[inner_idx] = (flat_acc[inner_idx][0].union(tuple_i[0]),
                               flat_acc[inner_idx][1].union(tuple_i[1]))


print(flat_acc[0:2])

[(Int64Index([   2,    3,    4,    5,    6,    7,    8,    9,   21,   22,
            ...
            3641, 3642, 3648, 3649, 3654, 3657, 3660, 3661, 3662, 3663],
           dtype='int64', length=1260), Int64Index([   6,    7,   10,   11,   12,   13,   25,   26,   27,   28,
            ...
            3603, 3604, 3614, 3615, 3616, 3617, 3636, 3643, 3644, 3645],
           dtype='int64', length=919)), (Int64Index([   2,    3,    4,    5,    6,    7,    8,    9,   10,   11,
            ...
            3644, 3645, 3648, 3649, 3654, 3657, 3660, 3661, 3662, 3663],
           dtype='int64', length=2177), Int64Index([  14,   15,   16,   17,   29,   30,   31,   32,   43,   44,
            ...
            3565, 3591, 3592, 3593, 3594, 3605, 3606, 3607, 3618, 3619],
           dtype='int64', length=683))]

<H2>Моделирование

Столбец «Финансовое бедствие» содержит реальные значения, содержащие как положительные, так и отрицательные значения. 
Согласно словарю данных, мы должны рассматривать компанию в финансовом положении, если в столбце «Финансовый кризис» <= -0,50.
Соответственно, мы превратим эту проблему в проблему классификации, используя это определение

In [17]:
# преобразование Financial Distress column в 0 или 1
df_model = df_cross.copy()
df_model['Financial Distress'] = ['0' if x > -0.50 else '1' for x in df_model['Financial Distress'].values]

df_model.head()

,Company,Time,Financial Distress,x1,x2,x3,x4,x5,x6,x7,...,lag_2_x73,lag_2_x74,lag_2_x75,lag_2_x76,lag_2_x77,lag_2_x78,lag_2_x79,lag_2_x81,lag_2_x82,lag_2_x83
2,1,3,0,1.05290,-0.059379,0.92242,0.72926,0.020476,0.044865,0.43292,...,36.0,85.437,27.07,26.102,16.0,16.0,0.2,0.060390,30.0,49.0
3,1,4,1,1.11310,-0.015229,0.85888,0.80974,0.076037,0.091033,0.67546,...,36.0,107.090,31.31,30.194,17.0,16.0,0.4,0.010636,31.0,50.0
6,2,3,0,0.97059,0.076064,0.90677,0.80980,0.165920,-0.024649,0.73660,...,36.0,85.437,27.07,26.102,16.0,16.0,0.2,1.251000,7.0,27.0
7,2,4,0,1.05900,0.130200,0.81811,0.87599,0.234450,0.045576,0.78727,...,36.0,107.090,31.31,30.194,17.0,16.0,0.4,1.357300,8.0,28.0
8,2,5,0,1.12450,0.147840,0.75871,1.07990,0.276440,0.089408,0.80356,...,35.0,120.870,36.07,35.273,17.0,15.0,-0.2,0.007188,9.0,29.0

In [18]:
# For each entry in flat_acc, perform train and test and plot metrics
dependent_cols = [col for col in df_model.columns if col != 'Financial Distress']
independent_col = ['Financial Distress']
for idx, tuple_i in enumerate(flat_acc):
    print('---------------------------------------')
    X_train, X_test = df_model.loc[tuple_i[0]][dependent_cols], df_model.loc[tuple_i[1]][dependent_cols]
    y_train, y_test = df_model.loc[tuple_i[0]][independent_col], df_model.loc[tuple_i[1]][independent_col]
    
    # Fit logistic regression model to train data and test on test data
    lr_mod = LogisticRegression(C=0.01, penalty='l2')  # These should be determined by nested cv
    lr_mod.fit(X_train, y_train)
    
    y_pred_proba = lr_mod.predict_proba(X_test)
    y_pred = lr_mod.predict(X_test)
    
    # Print Confusion Matrix and ROC AUC score
    print('Confusion Matrix:')
    print(confusion_matrix(y_test, y_pred))
    
    print('ROC AUC score:')
    print(roc_auc_score(y_test['Financial Distress'].astype(int), y_pred_proba[:, 1]))

---------------------------------------

C:\Users\darya\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\darya\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\darya\Anaconda3\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\darya\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\darya\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Confusion Matrix:
[[880   2]
 [ 39   0]]
ROC AUC score:
0.8008314436885865
---------------------------------------
Confusion Matrix:
[[659   1]
 [ 23   0]]
ROC AUC score:
0.7546772068511198

C:\Users\darya\Anaconda3\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

<H2>Вывод

Эта модель упускает многие тонкости данных на которые следует обратить внимание

1) **Работа с несбалансированными данными:**

Обработка искаженных данных включает в себя некоторую разновидность недостаточной выборки класса большинства + передискретизации класса меньшинства.

(В этой модели это пропущено, но это очень важно для получения хорошего классификатора.)

2) **Вложенная проверка для выбора гиперпараметров (например, значения C в логистической регрессии):**

На практике мы бы использовали вложенную перекрестную проверку, чтобы также определить гиперпараметры, которые мы здесь жестко запрограммировали.